* {
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html, body {
   width: 100%;
   height: 100%;
}
#main {
   width: 100%;
   user-select: none;
   height: 100%;
    background-image: url(https://images5.alphacoders.com/421/thumb-1920-421870.jpg);
    background-size: cover;

}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.639);
}

#center {
     position: absolute;
     top: 50%;
     left: 50%;
    transform: translate(-50%, -50%);
     text-align: center;
    color: #fff;
}

#center h1{
    font-size: 60px;
    font-weight: 400;

}

#center p{
    font-size:12px ;
}
#center button{
     width: 200px;
     height: 45px;
     background-color: transparent;
     color: #fff;
     border: 1px solid #fff;
     margin-top: 20px;
     border-radius: 30px;
}

#center button:hover{
     background-color: #fff;
     color: #000;

}